body{
    background: #231F20;
    text-align: center;
}
h1{
  color:#FFF;
  font-family: 'Oswald';
  font-weight: 700;
  position: relative;
  margin:30px auto;
  text-transform: uppercase;
  width: 550px;
}
h1::before,  h1::after{
    content: '';
    background: #4A90E2;
    display:inline-block;
    height: 30px;
    width: 25px; 
    position: absolute; 
}
h1::before{
    left: 0;
    top: 5px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
h1::after{
    right: 0;
    top: 5px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}